/* #question2,
#question3,
#question4,
#question5,
#question6 {
    display: none;
} */


/* All dice */

[id^='die'] {
    display: flex;
    border: 2px solid black;
    width: 125px;
    height: 125px;
    float: left;
    margin: 2em;
    border-radius: 1em;
    padding: 8px;
    justify-content: space-between;
    background-color: white;
}


/* Each die */

.die1 {
    justify-content: center;
    /*horizontal center*/
    align-items: center;
    /*vertical center*/
}

.die2 .pip:nth-of-type(2) {
    align-self: flex-end;
    /* justify-content: space-around; */
}

.die3 .pip:nth-of-type(2) {
    align-self: center;
}

.die3 .pip:nth-of-type(3) {
    align-self: flex-end;
}

.die4 .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.die5 .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.die5 .columnMid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.die6 .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Create pip */

.pip {
    background: black;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 12.5px;
}