:root {
    max-width: 80%;
    text-align: center;
    margin: auto;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
}

header {
    background-color: #B0AACD;
    border-radius: 25px;
    border-bottom: 2px solid black;
}

h1 {
    display: inline-block;
    vertical-align: text-bottom;
}

#question {
    max-width: 512px;
    margin: auto;
    background: rgba(255, 255, 255, 0.80);
    border: 1px solid black;
}

#end {
    cursor: pointer;
}

#dice {
    display: inline-block;
    width: 125px;
    margin: auto;
}


/* All dice */

[class^='die'] {
    display: flex;
    border: 2px solid black;
    width: 125px;
    height: 125px;
    float: left;
    margin: 2em;
    border-radius: 1em;
    padding: 1em;
    justify-content: space-between;
    background-color: white;
    margin: auto;
}


/* Each die */

.die1 {
    justify-content: center;
    /*horizontal center*/
    align-items: center;
    /*vertical center*/
    cursor: pointer;
}

.die2 {
    cursor: pointer;
}

.die2 .pip:nth-of-type(2) {
    align-self: flex-end;
    /* justify-content: space-around; */
}

.die3 {
    cursor: pointer;
}

.die3 .pip:nth-of-type(2) {
    align-self: center;
}

.die3 .pip:nth-of-type(3) {
    align-self: flex-end;
}

.die4 {
    cursor: pointer;
}

.die4 .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.die5 {
    cursor: pointer;
}

.die5 .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.die5 .columnMid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.die6 {
    cursor: pointer;
}

.die6 .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Create pip */

.pip {
    background: black;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 12.5px;
}